.html-content {
    // background: #fff;
    padding: 20rpx;
}
.top-bar {
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 120rpx;
    padding-top: 20rpx;
    background: #fff;
    // padding-top: 40rpx;
    // box-sizing: border-box;
    font-weight: bold;
    color: rgba(0,0,0,.85);
    // display: flex;
    // align-items: center;
    // justify-content: flex-start;
    image {
        position: absolute;
        left: 65rpx;
        top: 90rpx;
        width: 60rpx;
        height: 60rpx;
    }
    &>view {
        flex: 1;
        height: 100%;
        line-height: 160rpx;
        text-align: center;
    }
  }
  .content {
    background: #F7F7F7;
    padding: 160rpx 0 0;
    position: relative;
    min-height: 100vh;
}
.swiper-box {
    // margin-top: 100rpx;
    position: relative;
    // .top-bar-sub {
    // position: absolute;
    // left: 0;
    // top: 0;
    // z-index: 0;
    // width: 100%;
    // height: 100rpx;
    // background: #EA5B3D;
    // border-bottom-left-radius: 300rpx;
    // border-bottom-right-radius: 300rpx;
    // transform: scaleY(1.3);
    // }
    .swiper {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 816rpx;

    }
    .swiper-item {
        // width: 646rpx!important;
        display: flex;
        align-items: center;
        .slide-box {
            margin: 0 auto;
            width: 572rpx;
            background-color: #fff;
           
            border-radius: 20rpx;
            image {
                width: 572rpx;
                height: 572rpx;
                // height: 100%;
                border-top-left-radius: 20rpx;
                border-top-right-radius: 20rpx;
            }
        }
        .slide-tip {
            padding: 20rpx 32rpx 32rpx;
            border-bottom-left-radius: 20rpx;
            border-bottom-right-radius: 20rpx;
            background-color: #fff;
            position: relative;
            .s1 {
                color: #000;
                font-size: 32rpx;
                font-weight: bold;
                margin-bottom: 10rpx;
            }
            .s2 {
                color: #666666;
                font-size: 26rpx;
                max-width: 480rpx;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .s3 {
                color: #666666;
                font-size: 25rpx;
                position: absolute;
                right: 50rpx;
                top: 50rpx;
            }
        }
    }
    .swiper-item.active {
        // width: 646rpx!important;
        .slide-box {
            width: 640rpx;
            transition: all 0.2s ease-in 0s;

            // transform: scale(1.14);
            z-index: 20;
                image {
                    width: 640rpx;
                    height: 640rpx;
                    box-sizing: border-box;
                    // padding: 0 10rpx;
            }
        }
    }
}
.icon-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20rpx 60rpx;
    .icon-item {
        text-align: center;
        image {
            display: block;
            margin: 0 auto;
            width: 52rpx;
            height: 52rpx;
        }
        image.icon-big {
            width: 58rpx;
            height: 58rpx;
        }
        text {
            margin-top: 10rpx;
            display: block;
            font-size: 20rpx;
            font-weight: 400;
            color: rgba(0,0,0,.75);
        }
    }
}


.bg-box {
    padding: 20rpx 40rpx;
    image {
        width: 100%;
        border-radius: 20rpx;
    }
}
.list-box {
    border-radius: 20rpx;
    background: #fff;
    margin: 20rpx 40rpx;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    .list-item:nth-child(2n-1) {
        border-right: 2rpx solid #F7F7F7;
    }
    .list-item:nth-last-child(1) {
        border-bottom: none;
    }
    .list-item:nth-last-child(2) {
        border-bottom: none;
    }
    .list-item {
        border-bottom: 2rpx solid #F7F7F7;
        width: 50%;
        height: 158rpx;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20rpx 20rpx;
        box-sizing: border-box;
        &>view {
            text {
                display: block;
                font-size: 32rpx;
                font-weight: bold;
            }
            text.t2 {
                font-weight: 400;
                margin-top: 4rpx;
                font-size: 20rpx;
                color: #ccc;
            }
        }
        image {
            width: 138rpx;
        }
    }
    .item1 {
        image {
            width: 138rpx;
            position: relative;
            top: 10rpx;
        }
    }
    .item2 {
        image {
            width: 130rpx;
            position: relative;
            top: -15rpx;
        }
    }
    .item3 {
        image {
            width: 188rpx;
            // height: 130rpx;
        }
    }
    .item4 {
        image {
            width: 156rpx;
        }
    }
    .item5 {
        image {
            width: 134rpx;
            position: relative;
            top: -20rpx;
        }
    }
    .item6 {
        image {
            width: 184rpx;
        }
    }
}

.product-list {
    &>view {
        padding: 10rpx 40rpx 40rpx;
        .title {
            font-size: 36rpx;
            font-weight: bold;
        }
        .sub_title {
            font-size: 24rpx;
            color: #999;
        }
    }
    .product-swiper {
        width: 100%;
        height: 450rpx;
        white-space: nowrap;
        .swiper-item {
            width: 286rpx!important;
            display: inline-block;
            padding: 0 10rpx;
            .slide-box {
                .slide-image {
                    image {
                        width: 276rpx;
                        height: 276rpx;
                        border-top-left-radius: 20rpx;
                        border-top-right-radius: 20rpx;
                    }
                }
            }
            .slide-tip {
                padding: 20rpx 32rpx 32rpx;
                border-bottom-left-radius: 20rpx;
                border-bottom-right-radius: 20rpx;
                background-color: #fff;
                position: relative;
                .s1 {
                    color: #000;
                    font-size: 32rpx;
                    font-weight: 400;
                    margin-bottom: 10rpx;
                    max-width: 286rpx;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                .s2 {
                    color: #999;
                    font-size: 26rpx;
                    max-width: 286rpx;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    text-decoration: line-through;
                }
            }
        }
    }
}
.product-list.last {
    padding-bottom: 100rpx;
    .slide-tip {
        .s2 {
            color: #666;
            font-size: 26rpx;
            max-width: 286rpx;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            text-decoration: none!important;
        }
    }
}